@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-primario);
    color:var(--color-secundario);
    box-sizing: border-box;
}

/* 
    HEADER - BARRA NAVEGACIÓN
*/
.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

/* 
    PRESENTACIÓN - MAIN
*/
.presentacion {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-family: var(--fuente-krona);
    font-size: 2.25rem;
}

.presentacion__contenido__subtitulo {
    font-family: var(--fuente-krona);
    font-size: 1.45rem;
}

.presentacion__contenido__texto {
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__contenido__ul {
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    padding-top: 1%;
    padding-left: 5%;
}

.presentacion__contenido__texto__a {
    text-decoration: none;
    color: var(--color-terciario);
}

.presentacion__contenido__footer {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__contenido__enlaces {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__contenido__enlaces__link {
    width: 50%;
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__contenido__enlaces__link:hover {
    background-color: var(--color-hover);    
}

/* 
    FOOTER
*/
.footer {
    background-color: var(--color-terciario);
    color: var(--color-primario);
    padding: 23.64px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}

.footer__a {
    color: var(--color-primario);
}

/* 
    RESPONSIVIDAD
*/
@media (max-width: 1200px) {
    /* Reglas para tabletas y computadoras portátiles pequeñas */
    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 40px;
    }
}

@media (max-width: 768px) {
    /* Reglas específicas para tabletas en orientación vertical */
    .presentacion__contenido__titulo {
        font-size: 1.8rem;
    }
    .presentacion__contenido__texto {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    /* Reglas específicas para teléfonos móviles */
    .header__menu__link {
        font-size: 1rem;
    }
    .presentacion__enlaces__link {
        width: 80%;
    }
}